<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 목록</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Board</a>
</nav>

<div class="container mt-5">
  <h1>글 목록</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성 시각</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
      <th scope="row">1</th>
      <td><a th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a></td>
      <td th:text="${post.author}"></td>
      <td th:text="${post.createdAt}"></td>
    </tr>
    </tbody>
  </table>
  <a role="button" th:href="@{/posts/create}" class="btn btn-primary mt-2">글쓰기</a>
</div>

</body>
</html>